*{
  border-radius: 0em !important;
  font-family: Lato;
}

.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
  
.flex-container > div {
  align-items: flex-end;
}